@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-rubik);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
/* Set core body defaults */
body {
  background-color: var(--clr-very-light-gray);
  text-rendering: optimizeSpeed;
  
  line-height: 1.5;
}

:root{
--clr-dark-blue: #334253;
--clr-moderate-blue: #5357B6;
--clr-grayish-blue:#67727E;
--clr-very-light-gray: #F5F6FA;
--clr-light-gray: #E9EBF0;
--clr-white:  #FFFFFF;
--clr-light-grayish-blue: #C5C6EF;
--clr-soft-red: #ED6368;
--clr-pale-red:#FFB8BB;
--clr-backround-gray: #F2F2F2;

--ff-rubik: 'Rubik', sans-serif;
  
--fs-medium: 1rem;
--fs-large: 1.5rem;

--fw-bold: 500;
--fw-normal: 400;
}



.loggedAvatar {
  margin-bottom: auto;
  vertical-align: top;
}


  .postReply, .postCommentForm {
    border-radius: 8px;
  }

  

  /* CommentsPresenter  */
  .commentsAndPostComment{    
    margin: 4rem auto;       
  }

  .commentsPresenter {        
    z-index: 1;
    overflow:scroll;
    margin: 0 auto;
    width: fit-content;    
    
  }
 /* end of CommentsPresenter  */
 
 
 /* comment component */

 .authorName {
  font-size: var(--fs-Heading-Medium);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-blue);
  margin: 0 1rem;

}

.commentText {
  height: 4.5rem;
  margin-top: 1rem;
  width: 38.5rem;
}

.indented {
  width:33rem;

}
.comment-container {     
    background-color: white;
    margin:0 auto 1.25rem auto;
    padding: 1.5rem 1.5rem;
    height: fit-content;
    width: fit-content;    
}

.comment-container.alignRight {
  margin-left: auto;
  margin-right: 0;
}
 

.icons {
  display: flex;
  align-items: center;
  height: 2rem;
}

.iconsAndText {
   display: inline-block;   
}

.plusAndMinus {
    display: inline-block; 
    margin-right: 1.5rem;
    vertical-align: top;
    background-color: var(--clr-very-light-gray);
    border-radius: 10px;
    width: 2.5rem;
    height: 6.25rem;
   }

   .plusMinus {
    all: unset;
    margin: 0 auto;
    width: 100%;
    height: 33.3%;
   }



.reply {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.replyText {
  margin-left: 0.5rem;
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  color: var(--clr-moderate-blue);
  transition: color 1s;

}
.replyPath {
  transition: color 1s;
}
.replyText:hover {
 color: var(--clr-light-grayish-blue);
  cursor: pointer;
}
.replyPath:hover {
  color: var(--clr-light-grayish-blue);
  cursor: pointer;
}
.score {
    color: var(--clr-moderate-blue);
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    text-align: center;
    height: 33.3%;
  }


  .svg {
    padding: 0.625rem 0.625rem;
  }

  .timestamp {
    font-size: var(--fs-Heading-Medium);
    font-weight: var(--fw-normal);
    color: var(--clr-grayish-blue);
  }

  .you {
    background-color: var(--clr-moderate-blue);
    color: white;
    text-align: center;
    font-size: var(--fs-Heading-Medium);
    display: inline-block;
    margin-left: 0.5rem;
    width: 2rem;
    font-size: 0.8125rem;
    font-weight: var(--fw-bold);
  }

  /* end of comment component*/
  

  /*post comment component */
  .postCommentForm {
    margin: 0 auto;
    position: sticky;    
    bottom: 4rem;
    width: fit-content;    
    background-color: var(--clr-white);
    padding: 1.5rem 1.5rem;     
    z-index: 2;  
    box-shadow: 0 4rem var(--clr-very-light-gray), 0 -0.875rem var(--clr-very-light-gray);  
  }
  .input {    
    border: 1px solid var(--clr-light-gray);
    color: var(--clr-grayish-blue);    
    text-align: left;
    height: 6rem;
    min-width: 31rem;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    margin: 0 1rem;    
    font-weight: var(--fw-normal);
    font-size: var(--fs-medium);
    resize: none;
  }

  .input:focus {
    color: var(--clr-dark-blue);
    resize: none;
    outline: none;
  }

  .postReply {
    margin-top: 1rem;
    position: relative;
    transform: translateX(-50%);
    left: 50%;   
    height: 167px;
    width: 730px;
    background-color: var(--clr-white);
    padding: 1.5rem 1.5rem;     
    z-index: 2;  
    }

 

  /* end of post comment component */

  /* delete component */

  .deleteContainer {
    height: 30vh;
    width:30vh;
    background-color: #61dafb;  
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    z-index: 3;  
  }


.deleteIcon{
  border: #5357b6 solid 3px;
}

.deleteText {
  font-size: var(--fs-Heading-Medium);
}
    
    

  /* end of delete component */

  /* welcome component */
  .welcome{
    position: absolute;
    border: 5px solid var(--clr-dark-blue);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80vw;
    height: 80vh;  
  }

  .heading {
    font-size: var(--fs-Heading-Medium);
    text-align: center;
  }

  .button {  
    all:unset; 
    
    color: var(--clr-white);   
    height: 3rem;
    width: 6.5rem;
    background-color: var(--clr-moderate-blue);    
    border-radius: 8px;   
    cursor: pointer;
    text-align: center;
    vertical-align: top;
  }

  .button:hover {
    background-color: var(--clr-light-grayish-blue);
  }
  

  .registerLogin-forms{
    display: flex;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 25%;
    width: 25%;
    margin-bottom: 30px;
  }
  

  /* end of welcome component */




.editText {
  font-size: var(--fs-Heading-Medium);
}
.fakeInput {
  all: unset;
  border-color: #61dafb;
  width:fit-content;
}
.form {
  all: unset;
  background-color: white;
  border: 1px solid var(--clr-ModerateBlue);
  border-radius: 12px;
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
}


.hidden {
  display: none;
}



.loading {
  width: 45%;
  height: 45%;
  color: blue;
}
.instructions {
  font-size: 1rem;
}

 

.hidden {
  display: none;
}

.uploadImage {
  height: 200px;
  width:200px;
  border: 10px solid #ED6368 ;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 375px) {
   .testing {
    width: 10vmax;
    height: 25vmax;
  } 
  .comments {
    height: 100%;   
    width: 100%;
    background-color:pink;
    margin-bottom: 6rem;
  }
 
}