@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
  box-sizing: border-box;
}

body { 
  height:100%;
  width:100%;

}


  #root{
--clr-Dark-blue: #334253;
--clr-Grayish-blue: #67727E;
--clr-VeryLight-gray: #F5F6FA;
--clr-LightGray: #E9EBF0;
--clr-ModerateBlue: #5357b6;
--clr-LightGrayish-blue: #C5C6EF;
--clr-SoftRed : #ED6368;
--clr-PaleRed: #FFB8BB;

--fs-Heading-Large: 1.5rem;
--fs-Heading-Medium: 1rem;


  height: 100%;
  width: 100%;
  background-color: var(--clr-VeryLight-gray);

  }

  
  
.authorImage {
  height: 25%;
  
}

.authorName {
  font-size: var(--fs-Heading-Medium);
}

.avatarPic {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: black;
}
.backgroundLayer {
  height: 100%;
}

.button {
  all:unset;
  background-color: var(--clr-ModerateBlue);
  height: 3rem;
  border-radius: 25px;
  width: 30%;
  cursor: pointer;
  text-align: center;
}

.commentsPresenter {
  height: 80%;
  width: 100%;
  z-index: 1;
  overflow:scroll;
}

.comment-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between; 
 background-color: lightblue;
 height: 15%;
 width: 80%;
 margin: 1rem 1rem;
}

.comments {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentsAndPostComment{
  display: flex;
  flex-direction: column;  
  height: 100vh;
  width: 100%;
}
.deleteConfirmation {
  position: absolute; 
  background-color: wheat;
  display: flex;
  flex-direction: column;  
  z-index: 3;
  transform: translateX(-10000px);
}


.deleteIcon{
  border: #5357b6 solid 3px;
}

.deleteText {
  font-size: var(--fs-Heading-Medium);
}
.editText {
  font-size: var(--fs-Heading-Medium);
}
.form {
  all: unset;
  background-color: white;
  border: 1px solid var(--clr-ModerateBlue);
  border-radius: 12px;
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
}

.heading {
  font-size: var(--fs-Heading-Medium);
}


.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.iconsAndText {
  width: 75%;
  position: relative;
}

.loading {
  width: 45%;
  height: 45%;
  color: blue;
}
.loginForm {
  all:unset;
}
.minus {
  height: 100%;
  width: 20%;
 }
 
 .plusAndMinus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
 }

 .plus {
  height: 100%;
  width: 20%;
 }

.postCommentForm {
  height: 15%;
  width: 80%;
  margin: 1rem 1rem;  
  position: relative;
  z-index: 2;
}
 .replyText {
  font-size: var(--fs-Heading-Medium);
 }

 .register-forms{
  display: flex;
  height: 25%;
  width: 25%;
  margin-bottom: 30px;
}

.replyIcon {
  height: 100%;
}

.replyPath {
  height: 100%;
}
.score {
  height: 20%;
  width: 100%;
}

.testing {
  background-color: #ED6368;
  width: 10vmax;
  height: 25vmax;
}

.timestamp {
  font-size: var(--fs-Heading-Medium);
}
.hidden {
  display: none;
}

.uploadImage {
  height: 200px;
  width:200px;
  border: 10px solid #ED6368 ;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
}

 .welcome{
  position: absolute;
  border: 2px solid var(--clr-ModerateBlue);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80vw;
  height: 80vh;
  
  
}

.you {
  background-color: #5357b6;
  color: white;
  font-size: var(--fs-Heading-Medium);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 375px) {
   .testing {
    width: 10vmax;
    height: 25vmax;
  } 
  .comments {
    height: 100%;   
    width: 100%;
    background-color:pink;
    margin-bottom: 6rem;
  }
 
}