@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-rubik);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
/* Set core body defaults */
body {
  background-color: var(--clr-very-light-gray);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

:root{
--clr-dark-blue: #334253;
--clr-moderate-blue: #5357B6;
--clr-grayish-blue:#67727E;
--clr-very-light-gray: #F5F6FA;
--clr-light-gray: #E9EBF0;
--clr-white:  #FFFFFF;
--clr-light-grayish-blue: #C5C6EF;
--clr-soft-red: #ED6368;
--clr-pale-red:#FFB8BB;
--clr-backround-gray: #F2F2F2;

--ff-rubik: 'Rubik', sans-serif;

--fs-medium: 1rem;
--fs-large: 1.5rem;

--fw-bold: 500;
--fw-normal: 400;

}

/* global */
.button {
  all:unset;
  color: var(--clr-white);
  height: 3rem;
  width: 6.5rem;
  background-color: var(--clr-moderate-blue);
  cursor: pointer;
  text-align: center;
  vertical-align: top;

}



.buttons {
display: flex;
}


/* end of global */

.loggedAvatar {
  vertical-align: top;
}



/* CommentsPresenter  */
.commentsAndPostComment{
  margin: 4rem auto;
}

.commentsPresenter {
  overflow: scroll;
  margin: 0 auto;
  width: fit-content;
 }
 /* end of CommentsPresenter  */

 /* comment component */

.container {
  background-color: var(--clr-white);
  padding: 1.5rem 1.5rem;
  width: fit-content;
}


.deleteText:hover {
  color: var(--clr-pale-red);
  cursor: pointer;
}

.deleteIcon:hover {
  cursor: pointer;
}



.deletePath:hover {
  cursor: pointer;
}

.replyContent {
  max-width: 33.125rem;
}

.replySectionItem {
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 1.25rem;
  margin-left: 2.6875rem;
  padding-left: 2.6875rem;
  border-left: 2px solid var(--clr-light-gray);
}


.replySectionContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;

}

.indentation {
  border: 1px var(--clr-light-gray) solid;
  margin-left: auto;
  margin-right: auto;
}






.iconsAndText {
   display: inline-block;

}


.icons {
  display: flex;
  align-items: center;
  height: 2rem;
}



.authorName {
  font-size: var(--fs-Heading-Medium);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-blue);

}

.timestamp {
  font-size: var(--fs-Heading-Medium);
  font-weight: var(--fw-normal);
  color: var(--clr-grayish-blue);
 margin-right: auto;
}

.deleteIcon{
  margin-right: 0.5rem;
}

.deleteText {
  font-size: var(--fs-Heading-Medium);
  color: var(--clr-soft-red);
  transition: color  2s;
}

.editText {
  font-size: var(--fs-Heading-Medium);
  margin-left: 0.5rem;
  color: var(--clr-moderate-blue);
}

.commentText {
  height: 4.5rem;
  margin-top: 1rem;
  width: 38.5rem;
}

.plusAndMinus {
    display: inline-block;
    vertical-align: top;
    background-color: var(--clr-very-light-gray);
    border-radius: 10px;
    width: fit-content;
    padding: 0.5rem;
   }

   .plusMinus {
    all: unset;
    padding: 0 0.375rem;
   }

   .score {
    color: var(--clr-moderate-blue);
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    text-align: center;
    padding-top: 0.62rem;
    padding-bottom: 0.17rem;
}



/* changes to test commit */



.reply {
  display: flex;
  align-items: center;
}

.replyText {
  margin-left: 0.5rem;
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  color: var(--clr-moderate-blue);
  transition: color 1s;
}
.replyPath {
  transition: color 1s;
}
.replyText:hover {
 color: var(--clr-light-grayish-blue);
  cursor: pointer;
}
.replyPath:hover {
  color: var(--clr-light-grayish-blue);
  cursor: pointer;
}







  .you {
    background-color: var(--clr-moderate-blue);
    color: white;
    text-align: center;
    font-size: var(--fs-Heading-Medium);
    display: inline-block;
    margin-left: 0.5rem;
    width: 2rem;
    font-size: 0.8125rem;
    font-weight: var(--fw-bold);
  }

  /* end of comment component*/


  /*post comment component */


  .input {
    border: 1px solid var(--clr-light-gray);
    color: var(--clr-grayish-blue);
    text-align: left;
    padding: 0.75rem 1.5rem;
    margin-right:1rem;
    font-weight: var(--fw-normal);
    font-size: var(--fs-medium);
    height: 6rem;
    resize: none;
  }






  .input:focus {
    border: 1px solid var(--clr-moderate-blue);
    color: var(--clr-dark-blue);
    resize: none;
    outline: none;
  }



  .fullsize {
    min-width: 31.625rem;
  }

  .replysize {
    width: 26.125rem;
  }

  .postReply {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    position: relative;
    transform: translateX(-50%) translateY(-0.5rem);
    left: 50%;
    }

  /* end of post comment component */

  /* delete component */

.deleteContainer {
    width: fit-content;
    padding: 2rem 2rem;
    background-color: var(--clr-white);
    position: fixed;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    z-index: 3;
    box-shadow: 10px 10px 0 1200px rgba(0, 0, 0, 0.5);


}

.deleteheader {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}

.deletemessage {
   width: 21rem;
   font-size: var(--fs-medium);
   font-weight: var(--fw-normal);
   margin-bottom: 1.25rem ;
}

.no {
  width: 10rem;
  background-color: var(--clr-grayish-blue);
  margin-right: auto;
  font-weight: var(--fw-bold);

}

.yes {
  width: 10rem;
  background-color: var(--clr-soft-red);
  font-weight: var(--fw-bold);
}


  /* end of delete component */

  /* welcome component */
  .welcome{
    position: absolute;
    border: 5px solid var(--clr-dark-blue);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80vw;
    height: 80vh;
  }

  .registerLogin-forms{
    display: flex;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 25%;
    width: 25%;
    margin-bottom: 30px;
  }

  .heading {
    font-size: var(--fs-Heading-Medium);
    text-align: center;
  }
  /* end of welcome component */

.form {
  all: unset;
  background-color: white;
  border: 1px solid var(--clr-ModerateBlue);
  border-radius: 12px;
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
}


.hidden {
  display: none;
}

.loading {
  width: 45%;
  height: 45%;
  color: blue;
}
.instructions {
  font-size: 1rem;
}

.uploadImage {
  height: 200px;
  width:200px;
  border: 10px solid #ED6368 ;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
}


.mr-1r {
  margin-right: 1rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mr-1ahr{
  margin-right: 1.5rem;
}

.brer {
 border-radius: 8px;
}

.mt-8 {
  margin-top: 0.5rem;
}

.postnewcomment {
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -0.875rem var(--clr-very-light-gray);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 375px) {
   .testing {
    width: 10vmax;
    height: 25vmax;
  }
  .comments {
    height: 100%;
    width: 100%;
    background-color:pink;
    margin-bottom: 6rem;
  }
}